* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    background-color: #222222;
}

main {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

nav {
    display: flex;
    background-color: tomato;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 10px;
}

ul {
    list-style: none;
}

div.card-container {
    padding: 5px;
    display: flex;
    flex-direction: column;
    color: #ffff;
    background-color: #333333;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 5px 1px 10px 1px #9F8B38;
}

div.card-container:hover {
    transform: scale(1.2);
    background-color: black;
}

a {
    text-decoration: none;
}

div.header-card {
    display: flex;
    width: 100%;
    justify-content: space-between;
}