<header>
    <div> 
        <ul>
            <a href="/"> <li>Inicio</li> </a>
            <a href="/criar"> <li>Criar</li> </a>
        </ul>
        <input type="text" placeholder="Pesquisar">
    </div>
</header>