<header>
    <div> 
        <ul>
            <a href="/"> <li>Inicio</li> </a>
            <a href="/criar"> <li>Criar</li> </a>
        </ul>
        <form action="/pesquisar" method="post">
            <input type="text" placeholder="Pesquisar" name="pesquisar">
            <button type="submit"> Pesquisar </button>
        </form>
    </div>
</header>