<div class="modal">
    <div class="modal-header">
        Você quer realmente deletar o filme?
    </div>
    <div class="modal-title">
        Título
    </div>
    <div class="modal-footer">
        <a href="/apagar/<%= element.id %>">
            <button type="button" class="btn-delete">Apagar</button>
        </a>
        <button type="button" class="btn-close" onclick="handleCloseModal()">Close</button>
    </div>
</div>