<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title> Criar </title>
</head>
<body>
    <%- include('./partials/header.ejs') %> 
    <main>
        <form action="/criar" method="post">
            <legend> Criar Filme </legend>
            <fieldset>
                <input type="text" name="nome">
                <label for="nome"> Nome </label>
            </fieldset>
            
            <fieldset>
                <input type="number" name="ano">
                <label for="ano"> Ano </label>
            </fieldset>
            
            <fieldset>
                <input type="url" name="img">
                <label for="img"> Img </label>
            </fieldset>
            
            <fieldset>
                <input type="text" name="diretores">
                <label for="diretores"> Diretores </label>
            </fieldset>

            <fieldset>
                <input type="text" name="descricao">
                <label for="descricao"> Descrição </label>
            </fieldset>

            <fieldset>
                <input type="text" name="iframe">
                <label for="iframe"> Iframe </label>
            </fieldset>
            <div id="btn-container">
                <button type="submit"> Enviar </button>
            </div>
        </form>
    </main>
</body>
</html>